@using WebApplication1.Models
@model List<ItemGioHang>

@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Layout/Product.cshtml";
}

@if (Model == null || Model.Count <= 0)
{
    <h1 style="color:black;">Giỏ hàng rỗng </h1>
}
else
{
    <div class="col-md-9 product-price">
        <table class="table">
            <tr>
                <td>Mã SP</td>
                <td>Tên SP</td>
                <td>Hình ảnh</td>
                <td>Số lượng</td>
                <td>Đơn giá</td>
                <td>Thành tiền</td>

            </tr>

            @foreach (var item in Model)
            {
                <tr style="border:1px solid black;">
                    <td>@item.MaSP</td>
                    <td>@item.TenSP</td>
                    <td><img src="@Url.Content("~/Content/HinhAnhSP/"+item.HinhAnh)" width="50" height="50" /></td>
                    <td>@item.SoLuong</td>
                    <td>@item.DonGia.ToString("#,##") VNĐ</td>
                    <td>@item.ThanhTien.ToString("#,##")</td>
                    <td>@Html.ActionLink("Sửa", "SuaGioHang", new { @MaSP = item.MaSP })</td>
                    <td>@Html.ActionLink("Xoá", "XoaGioHang", new { @MaSP = item.MaSP })</td>
                </tr>
            }

        </table>
        @using (Html.BeginForm("DatHang", "GioHang"))
        {
            if (Session["TaiKhoan"] == null)
            {
                <div class="ThongTinMuaHang">
                    <table align="center" class="table">
                        <tr>
                            <td align="center" colspan="2"><b>Thông tin khách hàng</b></td>
                        </tr>
                        <tr>
                            <td>Họ tên</td>
                            <td>
                                @Html.TextBox("TenKH")
                                <p style="color:red" id="TB_TenKH"></p>
                            </td>
                        </tr>

                        <tr>
                            <td>Địa chỉ</td>
                            <td>@Html.TextArea("DiaChi")</td>
                            <p style="color:red" id="TB_DiaChi"></p>

                        </tr>

                        <tr>
                            <td>Email</td>
                            <td>@Html.TextBox("Email")</td>
                            <p style="color:red;" id="TB_Email"></p>
                        </tr>

                        <tr>
                            <td>Điện thoại</td>
                            <td>@Html.TextBox("SoDienThoai")</td>
                        </tr>

                        <tr>
                        </tr>
                    </table>
                </div>

                <script>
                    $("#btnDatHang").click(function () {
                        var loi = 0;
                        if ($("#TenKH").val() == "") {
                            $("#TB_TenKH").text("Tên khách hàng không được bỏ trống");
                            loi++;
                        }
                        else {
                            loi++;
                            $("#TB_TenKH").text("");
                        }


                        if ($("#DiaChi").val() == "") {
                            $("#TB_DiaChi").text("Địa chỉ không được bỏ trống");
                            loi++;

                        }
                        else {
                            $("#TB_DiaChi").text("");
                        }
                        dinhdang = /^[0-9A-Za-z]+[0-9A-Za-z_]*@@[\w\d.]+\.\w{2,4}$/;
                        KTemail = dinhdang.test($("#Email").val());
                        if (!KTemail) {
                            $('#TB_Email').text("Email không hợp lệ! ");
                            loi++;
                        }

                        if (loi != 0) {
                            return false;
                        }
                    });
                </script>
            }


            <div class="divDatHang" style="text-align:right;">

                <input type="submit" value="Đặt hàng" class="btn btn-danger" id="btnDatHang" />
                @Html.ActionLink("Mua tiếp","Index", "Home", new { @class = "btn btn-success" })
            </div>

        }
    </div>

}

<style>
    table, th, td, tr {
        border: 1px solid black;
    }

    input[type="submit"] {
        padding: 5px;
        margin: 0;
    }
</style>

